synth_confusion_matrices
results/
.idea/
.venv/
descriptions/
jukemir.egg-info/
__pycache__/
notebooks/
venv/
Data/
example_docs/
genre_JSON-files/
archive.zip
combined_array.npy
output_data.json
target_data.json
generated_music/
music/
music_generation/
musicgen/
genres/
helpers/
models/
